<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css"-->
          <!--media="screen, projection" th:href="@{/css/style.css}"/>-->
</head>
<body>
    <footer class="footer" th:fragment="footer">
        <div class="container-fluid clearfix">
            <span class="float-right">
                BlueCrystal &copy; 2017
            </span>
        </div>
    </footer>

    <!--<script type="text/javascript" src="/static/js/off-canvas.js"></script>-->

</body>
</html>