<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>BlueCrystal - Error</title>
    <link rel="shortcut icon" href="/static/images/favicon.png"
          th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <title th:text="#{label.pages.invalidSession.title}">Error</title>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center text-center error-page">
                    <div class="col-lg-6 offset-lg-3">
                        <h1 class="display-1">400</h1>
                        <h2 th:text="#{message.badrequest}">No hemos podido procesar tu solicitud</h2>
                        <a class="btn btn-primary mt-5" th:href="@{/}" th:text="#{label.form.indexLink}">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>