<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>

<div class="content-wrapper" th:fragment="content">
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <div class="background">
                        <img class="stretch" src="/static/images/advertising.png" alt="AdvertisingImage"
                             th:src="@{/images/advertising.png}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <div id = "divurlshorted" class="card">
                <div class="card-block">
                    <div id="shorted" style="text-align:center;">
                        <h3>Debes esperar <span id="seconds">10</span>
                            segundos antes de poder acceder al enlace</h3>
                        <div><h3><i class="fa fa-spin fa-spinner"></i></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:fragment="assets">
    <!--<script type="text/javascript" th:src="@{/js/index.js}"></script>-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var hash = [[${hash}]];
        var guid = [[${guid}]];
        /*]]>*/
        var timeToShowUrl = 10000; // expressed in millis

        setTimeout(function () {
            openInNewTab();
        }, timeToShowUrl);

        var lastSeconds = timeToShowUrl/1000;
        setInterval(function () {
            if(lastSeconds > 0) {
                lastSeconds--;
                $('#seconds').html(lastSeconds);
            }
        }, 1000);

        function openInNewTab() {
            $.get('/' + hash, {guid:guid})
                .done(function (msg) {
                    if (msg.status === "success") {
                        // open shorted url in new tab and focus it
                        var win = window.open(msg.data);
                        win.focus();
                        // redirect to index page
                        window.location.href = '/';
                    }
                })
        }
    </script>
</th:block>

</body>
</html>
